body {
  margin: 70px 0 0 0;

  background-color: #E6E8E6;
}

#infobar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 50px;

  box-sizing: border-box;

  display: flex;
  justify-content: center;

  padding: 10px;

  background-color: #DE6449;
}

#signin-button {
  width: 15%;

  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  color: #E6E8E6;

  background-color: #DE6449;
  border: 1px solid #FFFFFF; 
  border-radius: 5px;

  cursor: pointer;
}

#signin-button:hover {
  color: #DE6449;

  background-color: #FFFFFF;
}

.card {
  margin: 20px 20%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding: 20px;

  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
}

#balancesContainer {
  display: none;
}

#balancesHeader {
  margin: 0;

  font-family: "Roboto", sans-serif;
  text-align: center;
}

.balance-info {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#ethBalance {
  margin: 10px 0 0 0;
}

#bethBalance {
  margin: 0 0 15px 0;
}

input {
  height: 50px;

  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: center;

  border: 2px solid #DE6449;
  border-radius: 5px;
}

.form-button {
  margin-top: 10px;

  height: 30px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #FFFFFF;

  background-color: #DE6449;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

#depositButton {
  margin-bottom: 10px;
}

#infoHeader {
  margin: 0;

  font-family: "Roboto", sans-serif;
  text-align: center;
}

hr {
  margin-bottom: 10px;

  width: 100%;

  border: none;
  border-top: 2px solid #E0E0E0;
}

.info-line {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  #signin-button {
    width: 100%;

    color: #DE6449;

    background-color: #E6E8E6;
  }

  .card {
    margin: 20px 20px;
  }
}
